<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>

        <div ngForm #form="ngForm">
          <fieldset class="form-group">
            <input name="email" class="form-control form-control-lg" type="text" placeholder="Email" ngModel
            #username="ngModel" required email>

            <!--
            {{ loginData.username }} / {{ username.value }}

            {{ username.invalid }}

            {{ username.errors | json }}
          -->

            <span *ngIf="username.invalid && username.dirty">
              <span *ngIf="username.errors['required']">* 請輸入資料</span>
              <span *ngIf="username.errors['email']">* 請輸入正確格式的 email</span>
            </span>

          </fieldset>

          <fieldset class="form-group">
            <input name="password" class="form-control form-control-lg" type="password" placeholder="Password" ngModel #password="ngModel" minlength="4">

            <span *ngIf="password.invalid && password.dirty">
              <span *ngIf="password.errors['required']">
                * 請輸入密碼
              </span>
              <span *ngIf="password.errors['minlength'] as len">
                ({{ len.actualLength}} / {{ len.requiredLength}})
              </span>
            </span>
          </fieldset>
          <button
            (click)="login(form.value)"
            class="btn btn-lg btn-primary pull-xs-right" [disabled]="form.invalid" (click)="login()">
            Sign in
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
