<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div [formGroup]="form">
          <fieldset class="form-group">
            <input formControlName="title" class="form-control form-control-lg" type="text" placeholder="Post Title">

            <!-- {{ form.get('title').value }}
            {{ form.get('title').invalid }} -->
            <!-- {{ form.get('title').errors | json }} -->
            <span *ngIf="titleExsit$ | async" >* 標題重複</span>

          </fieldset>
          <fieldset class="form-group">
            <textarea formControlName="body" class="form-control" rows="8"
              placeholder="Write your post (in markdown)"></textarea>
          </fieldset>
          <fieldset class="form-group" formArrayName="tags">
            <input
              #input
              (keyup.enter)="addTag(input.value)"
              class="form-control" type="text" placeholder="Enter tags">

            <input *ngFor="let control of tagControls; let index = index" [formControlName]="index" class="form-control"
              type="text" placeholder="Enter tags">



            <div class="tag-list">
              <span
                *ngFor="let control of tagControls; let index = index"
                class="label label-pill label-default">
                <i class="ion-close-round" (click)="removeTag(index)"></i> {{ control.value }}</span>


              <!-- <span class="label label-pill label-default">
                <i class="ion-close-round"></i> programming</span>
              <span class="label label-pill label-default">
                <i class="ion-close-round"></i> javascript</span>
              <span class="label label-pill label-default">
                <i class="ion-close-round"></i> webdev</span> -->
            </div>
          </fieldset>
          <button
            [disabled]="form.invalid"
            (click)="submit()"
            type="button" class="btn btn-lg btn-primary pull-xs-right">
            Create Post
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
