<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-12">
        <ul>
          <li *ngFor="let article of articleList$ | async">{{ article.title }}</li>
        </ul>
        <div class="post-preview" *ngFor="let article of articleList$ | async">
        <!-- <div class="post-preview" *ngFor="let article of (articles$ | async)?.articles"> -->
        <!-- <div class="post-preview" *ngFor="let article of articles"> -->
          <div class="post-meta">

            <div class="info">
              <span href="profile.html" class="author">Eric Simons</span>
              <span class="date">2019-04-26</span>
            </div>
          </div>
          <a class="preview-link" [routerLink]="['/post', article.slug]">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <span>Read more...</span>
          </a>
        </div>


      </div>

    </div>
  </div>

</div>
